
RewriteEngine on


<FilesMatch "\.(jpeg|jpg|png|gif|swf|svg)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>ss

ErrorDocument 404 /workladda/404.php

RewriteCond %{REQUEST_URI} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]



